<section id="login">
  <div class="login-container">
    <div class="login-header">
      <h2>Bienvenida</h2>
      <p>Ingresa a tu cuenta exclusiva de Marjorie Store</p>
    </div>
    <div class="login-body">
      <input id="loginUser" type="email" placeholder="Correo Electrónico" />
      <input id="loginPass" type="password" placeholder="Contraseña" />
      <div class="actions">
        <button class="btn-login" onclick="login()">Ingresar</button>
        <button class="secondary" onclick="showLanding()">Cancelar</button>
      </div>
    </div>
    <p id="loginMsg" class="error"></p>
  </div>
</section>
